.team {
    &-header {
        margin-top: 54px;
        text-align: center;
        h2 {
            margin: 34px 0 68px 0;
            color: #665f60;
            font-family: Montserrat, sans-serif;
            font-size: 36px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
    &-slider {
        max-width: 1109px;
        margin: 0 auto;
        margin-bottom: 83px!important;
        &__item {
            height: 485px;
            position: relative;
            width: 350px;
            text-align: center;
            .wrapper {
                margin-top: 110px;
                position: relative;
                background-color: #ffffff;
                height: 374px;
            }
            img {
                top: -125px;
                position: relative;
                margin-left: auto;
                margin-right: auto
            }
            h2 {
                margin: -75px 0 34px 0;
                color: #9f9acf;
                font-family: Montserrat, sans-serif;
                font-size: 24px;
                font-weight: 700;
                text-transform: uppercase;
            }
            p {
                color: #665f60;
                font-family: "PT Sans";
                font-size: 24px;
                font-style: italic;
            }
        }
        .slick-slide {
            margin: 15px
        }
        .slick-list {
            margin: 0
        }
        .slick-next {
            right: -60px;
            &:before {
                background: url(../img/arrow-next.png) no-repeat;
                content: "";
                display: block;
                height: 40px;
                width: 24px
            }
        }
        .slick-prev {
            left: -60px;
            &:before {
                background: url(../img/arrow-prev.png) no-repeat;
                content: "";
                display: block;
                height: 40px;
                width: 24px
            }
        }
        .slick-dots {
            li {
                button {
                    &:before {
                        font-size: 22px;
                        color: #fff;
                        content: "○"
                    }
                }
            }
            .slick-active {
                button {
                    &:before {
                        font-size: 25px;
                        color: #fff;
                        content: "●"
                    }
                }
            }
        }
    }
    &-social {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 47px;
        height: 70px;
        background-color: #9f9acf;
        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px;
            width: 32px;
            border-radius: 50%;
            background-color: #ebebeb;
            ;
            a {
                margin-top: 5px;
                text-decoration: none;
                i {
                    font-size: 20px;
                    color: #9f9acf;
                }
            }
            .linkedin {
                margin: 0;
            }
        }
    }
}

@media (max-width:1260px) {
    .team-slider {
        .slick-next {
            right: -25px;
        }
        .slick-prev {
            left: -25px
        }
    }
}